* {
  box-sizing: border-box;
}

.board {
  height: 330px;
  width: 330px;
  margin: 0 auto;
  font-size: 0;
}

.board div {
  height: 100px;
  width: 100px;
  display: inline-block;
  border: 1px solid grey;
  border-radius: 15px;
  margin: 5px;
}

.red {
  background-color: crimson;
}

.blue {
  background-color: cornflowerblue;
}
